@font-face{
    font-family: 'DEAD END';
    src: url(https://static.tumblr.com/pvnotae/DzVqdg2j5/dead_end.ttf);
}

body{
    background-color:black;
    color:white;
    user-select:none;
    text-align: center;
    font-family:'dead end';
    overflow:hidden;
    font-size:20px;
}

::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: #ed75ae;
}

::-webkit-scrollbar-track{
    background: #000;
    border-radius: 0px;
}


a{
    text-decoration: none;
    color:white;
}

#title{
    font-family:'dead end';
    font-size:120px;
    text-align: center;
    animation: fadeIn 0.5s;
    margin: auto;
    width:fit-content;
    width: -moz-fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
}

#subtitle{
    font-size:30px;
    position:absolute;
    bottom:-150px;
    animation: fade 5s infinite;
    left:0;
    right:0;
    display:none;
}

#options{
    font-size:30px;
    display:none;
    position:absolute;
    bottom:-150px;
    left:0;
    right:0;
}

#options > div{
    transition:0.5s;
}

#options > div:hover{
    letter-spacing: 2px;
    transition:0.5s;
}

@keyframes fade {
    0% { opacity:0; }
    50%{ opacity:1; }
    100% { opacity:0; }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

#box{
    width:600px;
    height:300px;
    overflow:auto;
    padding:20px;
    margin:20px auto;
    border-image-slice:1;
    border-image-width:6px;
    border-image-outset:10px;
    border-image-repeat:stretch stretch;
    border-image-source:url("https://files.catbox.moe/p2cajb.png");
    border-style:solid;
    box-sizing:border-box; 
}